.image-responsive {
    position: absolute;
    right: -5px;
}
@media screen and (max-width: 992px) {
    .image-responsive {
        position: inherit;
        right: -5px;
        top: 3px;
    }
}

.image-style{
    height:120px;
    margin-top:2px;
}

.image-outside-div{
    position: relative;
}

.valigh-top{vertical-align: top!important;}
.valigh-bottom{vertical-align: bottom!important;}
.valigh-middle{vertical-align: middle!important;}

.wizard > .content, #workPermitForm {
    overflow: visible !important;
}

.bootstrap-datetimepicker-widget ul li{
    list-style: none!important;
}

.navbar-default {
    background-color: #f0f0f0;
    /* default #f8f8f8
    e0e0e8
    f0f0f0
    */
    border-color: #e7e7e7;
}
.btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.btn-social {
    overflow: hidden;
    padding-left: 44px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-header {
    border-bottom: 1px solid #eee;
    margin: 15px 0 20px 0px;
    padding-bottom: 10px;
}

.navbar-top-links .language{
    width: 150px;
}
.navbar-top-links .language li{
    /*display: inline-block; !important;*/
}

.clone-form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.error{
    color: red !important;
    border: 1px solid red;
}

.required-star:after{
    color: red;
    content: " *";
}

.profile-user-img{margin:0 auto;width:150px;padding:3px;border:3px solid #d9edf7}.profile-username{font-size:21px;margin-top:5px}
.letter-img{margin:0 auto;width:150px;padding:3px;}


/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #337ab7;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}

.custom-font{
    /*font-size: 15px;*/
    /*width: 30%;*/
    /*height: 50px;*/
    word-break: break-all;
}

.footer-text{
    width: 250px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.reload{
	margin-left:10px;
	cursor:pointer;
    height: 15px;
    width: 15px;
}
.cs-label{
    font-weight:normal;
    text-align:justify;
}
.cs-warning-bg:focus{
    border:1px solid red;
}
.cs-success-bg:focus{
    border:1px solid green;
}
.cs-error{
    color:red;
    float:left;
    padding-top: 8px;
}

.header-caption
{
    text-align: center;
    padding: 10px 0px 0px 10px;
    font-size: 20px;
    line-height: 25px;
    margin: 0 !important;
    text-shadow: 2px 2px 3px silver;
    color: #333;

}

/*start css by jakir hossain*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*end css by jakir hossain*/

/*Start Add New Students*/
.stutentForms {position: relative;}
.stutentForms fieldset {
    padding: 10px;
    margin-bottom: 15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 2px solid #AAA5A2;
}
.stutentForms legend {
    font-weight: bold;
    font-size: 14px;
    width: auto;
    border: 0;
    margin: 0;
}

.stutentForms p.navigator a span,
.stutentForms p.navigator button span     {font-size: 11px;color: #1C94C4;}
.stutentForms fieldset.first #poffice,
.stutentForms fieldset.first #upozilla,
.stutentForms fieldset.first #zilla,
.stutentForms fieldset.first #pcode { width:155px;}
.stutentForms fieldset.first select {
    border:1px solid #928E8C;
    padding:3px;
}
.stutentForms label.esp             {width: 119px;}
.stutentForms fieldset              {padding: 10px;margin-bottom: 15px;}
.stutentForms fieldset.first        {position: relative;}

.stutentForms div.container         {position: relative;}
.stutentForms p                     {margin-bottom: 10px;}
.stutentForms fieldset.first select,
.stutentForms fieldset.first input[type=text]  {-moz-border-radius:3px;-webkit-border-radius:0;border-color: #BCBCBC;/*float: right;*/}
.stutentForms fieldset p            {width: 70%;overflow: hidden;}
.stutentForms fieldset p.loading	{background:url("../images/ajax-loader2.gif") no-repeat scroll 96% 50% transparent}


.stutentForms th                    {border-bottom:1px solid #C5C2BF;border-right:1px solid #C5C2BF;width:33%;}
.stutentForms th.last-child,
.stutentForms td.last-child         {border-right:none;}
.stutentForms table                 {width:90%}
.stutentForms td                    {border-right:1px solid #C5C2BF;padding:5px 10px}
.stutentForms p.radio input         {float: none;width: auto;}
.stutentForms p.radio label         {width: 230px;}
.stutentForms span                  {color: black;}
.stutentForms span.opt              {color:blue ;}
.stutentForms legend.opt            {color:#ff0000 ;}
.stutentForms {padding-top:5px;}
.stutentForms #col p,
.stutentForms .col p {
    float:left;
    width:50%;
}
.stutentForms fieldset .first_container {*margin-bottom: 10px;}
.stutentForms fieldset .first_container p {float: left; width: 50%;*width: 49%;}
.stutentForms fieldset .first_container p #tot_serial_no {width: 80px;}
.stutentForms fieldset .first_container p #section,
.stutentForms fieldset .first_container p #shift {width: 60px;}
.stutentForms fieldset .first_container p #section_label,
.stutentForms fieldset .first_container p #shift_label {width: auto; margin-right: 13px; margin-left: 70px;}
.stutentForms fieldset .first_container p #shift_label {margin-left:92px;}
.stutentForms fieldset p#spe {margin-top: -3px; margin-bottom: 6px ! important;}
.stutentForms fieldset p#spe label {float:left;}
.stutentForms fieldset p#spe input {margin-left: 5px; margin-top: 5px;}
.stutentForms fieldset.search input[type=text]  {border: 1px solid #74706d; width: 74px; padding: 5px; -moz-border-radius:5px;-webkit-border-radius:5px;}
.stutentForms fieldset.search label				{ width:auto; }
.stutentForms fieldset.search select			{ border: 1px solid #74706d; width: 100px; padding: 5px; -moz-border-radius:5px;-webkit-border-radius:5px; }
.student_photo{float: left;margin-right: 10px;margin-top: 1px;}
#hsc_std_photo--- {
    position: absolute;
    right: 0px;
    top: 0;
    width: 235px;
    z-index: 9;
}
.photo_table {
    width: 150px!important;
    height: 150px!important;
}
.photo_table td {
    border: 2px solid #72a143!important;
    padding: 0px!important;
    margin: 0px!important;
    vertical-align: middle;
}
#col, .col {
    overflow: hidden;
}
/*End Add New Students*/
