/*@page:right{
    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "Our Cats";
        font-size: 9pt;
        color: #333;
    }

    @bottom-right {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: counter(page);
        font-size: 9pt;
    }

    @top-right {
        content:  string(doctitle);
        margin: 30pt 0 10pt 0;
        font-size: 9pt;
        color: #333;
    }
}
@page:first {
    @bottom-right {
        content: normal;
        margin: 0;
    }

    @bottom-left {
        content: normal;
        margin: 0;
    }
}
@page:left {
    @bottom-right {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "Our Cats";
        font-size: 9pt;
        color: #333;
    }

    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: counter(page);
        font-size: 9pt;
    }
}*/
.a4 {
    width: 700px !important;
}
.a4 *{
    font-size: 12px !important;
    font-weight: bold;
}
.header-font {
    font-size: 14px !important;
    text-align: center !important;
}
table { page-break-inside: avoid;font-size: 80%; border-collapse:collapse;
    border: 1px solid black;display: table;
    border-spacing: 2px; }
p ,address{ page-break-inside:auto;font-size: 80%; }
td    { border:1px solid lightgray; }
tr    { page-break-inside:auto; }
/*td {*/
    /*border-top: none !important;*/
/*}*/
.a4 hr {
    border: 1px #000 dashed;
}
.normal-text {
    font-weight: normal;
}
.grey-font {
    color: silver;
    text-align: center;
}
.grey-font td {
    padding: 2px !important;
}
.horizontal dt {
    float: left;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 3px;
}
.center-text {
    text-align: center;
}
.cash td{
    line-height: 4px !important;
}
.no-margin-table{
    margin-bottom: 0px;
    margin: 0px;
}
.botton-border{
    border-bottom: 1px #ddd solid;
}